.Home {
  text-align: center;
}

.Home {
  background-image: url("../background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.down-arrw {
  position: fixed;
  top:75%;
  left: 50%;
}

.socials {
  position: fixed;
  top: 1%;
  border-radius: 8px;
  left: 30%;
  right: 30%;
  padding: 20px;
}

.socials h4 {
  display: none;
  font-weight: 300;
  opacity: 0;
}

.socials:hover h4 {
  display: inline-block;
  animation: h4animation 0.3s ease-in;
  opacity: 1;
}

@keyframes h4animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8 !important;
  }
}

.socials i {
  margin-left: 20px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 45%;
  background-color: rgba(255,255,255,0.3);
  width: 9% !important;
}

.socials i:hover {
  animation: iconhover 6s ease-in;
}

@keyframes iconhover {
  0% {
    box-shadow: 0 0 0 0;
  }
  0% {
    box-shadow: 0 2px 20px black;
  }
}

p {
  font-size: .6em !important;
}

.left-bio {
  position: fixed;
  left: 6%;
  top: 15%;
  right: 50%;
  background: rgba(0,0,0,0.3);
  padding: 40px;
  text-align: left;
  border-radius: 9px;
  width: 40%;
  opacity: 0;
}

.left-bio {
  animation: fade-in 0.7s ease-in; /* make a animation for it to come in on load */
  opacity: 1;
}

.fa::before {
  content: "f09b";
}

@keyframes fade-in {
  0%{
    opacity: 0;
    left: -10%;
    right: 80%;
  }
  100% {
    opacity: 1 !important;
    left: 10% !important;
    right: 30%;
  }
}

.Home-link {
  color: #61dafb;
}

#download-cv {
  position: fixed;
  top: 65%;
  left: 20%;
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
}