@import url(https://fonts.googleapis.com/css2?family=Pangolin&display=swap);
#Skills h1 {
    font-family: 'Pangolin' !important;
    color: #4c6796 !important;
    font-size: 6vh;
    padding: 5px;
    margin-left: 50px;
    text-align: center;
    margin: 0;
}

#skills_div {
    padding: 50px;
}


.skill * {
    display: inline;
    margin: 0;
}

.skill {
    padding: 15px;
    width: 75%;
    margin-top: 10px;
    border-bottom: 0.5px solid lightgray;
}

.float_right .skill {
    width: 90%;
}

.float_left {
    float: left;
    width:50%;
    text-align: left;
}
.float_right {
    float: right;
    width:40%;
    text-align: left;
}
.type {
    padding-right: 5px;
}

.level {
    display: inline-block !important;
    color: #252525 !important;
    background-color: #f4c150;
    padding: 10px;
    font-size: 75%;
    font-weight: 900;
    margin-left: 15px;
    border-radius: 8px;
    width: 100px !important;
    text-align: center;
}